.row
  .col-xl-1.nav
    p  
      a.glyphicon.glyphicon-th-large(href="/#{user.user_name}/wants" style="color:white; font-size: 24px;")  
      span(class="navglyphs") gimmegimme 
      a.glyphicon.glyphicon-plus#addanewwant(style="color:white; font-size: 24px;") 
  .pull-right
    .logoutlink
      a.logout(href="/logout") LOGOUT
